.speak {
  // Speak view
  --color-view-bg: var(--color-speak-view-bg);
  --color-view-txt: var(--color-speak-view-txt);
  --color-view-lines: var(--color-speak-view-lines);

  --color-view-card-front-bg: var(--color-speak-view-card-front-bg);
  --color-view-card-front-txt: var(--color-speak-view-card-front-txt);
  --color-view-card-back-bg: var(--color-speak-view-card-back-bg);
  --color-view-card-back-txt: var(--color-speak-view-card-back-txt);

  --color-view-btn-bg: var(--color-speak-view-btn-bg);
  --color-view-btn-txt: var(--color-speak-view-btn-txt);
  --color-view-btn-shadow: var(--color-speak-view-btn-shadow);
  --color-view-done-bg: var(--color-speak-view-done-bg);
  --color-view-done-txt: var(--color-speak-view-done-txt);
}
.draw {
  // draw view
  --color-view-bg: var(--color-draw-view-bg);
  --color-view-txt: var(--color-draw-view-txt);
  --color-view-lines: var(--color-draw-view-lines);

  --color-view-card-front-bg: var(--color-draw-view-card-front-bg);
  --color-view-card-front-txt: var(--color-draw-view-card-front-txt);
  --color-view-card-back-bg: var(--color-draw-view-card-back-bg);
  --color-view-card-back-txt: var(--color-draw-view-card-back-txt);

  --color-view-btn-bg: var(--color-draw-view-btn-bg);
  --color-view-btn-txt: var(--color-draw-view-btn-txt);
  --color-view-btn-shadow: var(--color-draw-view-btn-shadow);
  --color-view-done-bg: var(--color-draw-view-done-bg);
  --color-view-done-txt: var(--color-draw-view-done-txt);
}
.show {
  // show view
  --color-view-bg: var(--color-show-view-bg);
  --color-view-txt: var(--color-show-view-txt);
  --color-view-lines: var(--color-show-view-lines);

  --color-view-card-front-bg: var(--color-show-view-card-front-bg);
  --color-view-card-front-txt: var(--color-show-view-card-front-txt);
  --color-view-card-back-bg: var(--color-show-view-card-back-bg);
  --color-view-card-back-txt: var(--color-show-view-card-back-txt);

  --color-view-btn-bg: var(--color-show-view-btn-bg);
  --color-view-btn-txt: var(--color-show-view-btn-txt);
  --color-view-btn-shadow: var(--color-show-view-btn-shadow);
  --color-view-done-bg: var(--color-show-view-done-bg);
  --color-view-done-txt: var(--color-show-view-done-txt);
}
.bomb {
  // bomb view
  --color-view-bg: var(--color-app-bg);
  --color-view-txt: var(--color-app-txt);

  --color-view-btn-bg: var(--color-bomb-view-btn-bg);
  --color-view-btn-txt: var(--color-bomb-view-btn-txt);
  --color-view-btn-shadow: var(--color-bomb-view-btn-shadow);
  --color-view-done-bg: var(--color-bomb-view-done-bg);
  --color-view-done-txt: var(--color-bomb-view-done-txt);
}