// Define all colors from mock images
:root {
  --color-app-bg: #efefef;
  --color-app-txt: #4486a0;

  // Home screen
  --color-play-card-bg: #e39d23;
  --color-play-card-txt: #ffffff;
  --color-play-card-btn: #e39d23;
  --color-play-card-shadow: #e39d23;

  --color-score-title: #4486a0;
  --color-score-bg: #4486a0;
  --color-score-txt: #ffffff;

  --color-score-change-bg: #4486a0;
  --color-score-progress: #8dc2cf;
  --color-score-change-txt: #ffffff;

  // Select activity screen cards
  // Normal, saturated and desaturated variants
  --color-speak-card-bg: #4486a0;
  --color-speak-card-sat-bg: #4486a0;
  --color-speak-card-desat-bg: #8dc2cf;
  --color-speak-card-txt: #ffffff;
  --color-speak-card-sat-txt: #ffffff;
  --color-speak-card-desat-txt: #ffffff;

  --color-draw-card-bg: #e00428;
  --color-draw-card-sat-bg: #e00428;
  --color-draw-card-desat-bg: #dea3ac;
  --color-draw-card-txt: #ffffff;
  --color-draw-card-sat-txt: #ffffff;
  --color-draw-card-desat-txt: #ffffff;

  --color-show-card-bg: #e39d23;
  --color-show-card-sat-bg: #e39d23;
  --color-show-card-desat-bg: #e4b76b;
  --color-show-card-txt: #ffffff;
  --color-show-card-sat-txt: #ffffff;
  --color-show-card-desat-txt: #ffffff;

  // Speak view
  --color-speak-view-bg: var(--color-app-bg);
  --color-speak-view-txt: var(--color-speak-card-bg);
  --color-speak-view-lines: var(--color-speak-card-bg);

  --color-speak-view-card-front-bg: var(--color-speak-card-bg);
  --color-speak-view-card-front-txt: #ffffff;
  --color-speak-view-card-back-bg: var(--color-speak-card-bg);
  --color-speak-view-card-back-txt: #ffffff;

  --color-speak-view-btn-bg: var(--color-speak-card-bg);
  --color-speak-view-btn-txt: #ffffff;
  --color-speak-view-btn-shadow: var(--color-speak-card-desat-bg);
  --color-speak-view-done-bg: var(--color-speak-card-bg);
  --color-speak-view-done-txt: white;

  // Draw view
  --color-draw-view-bg: var(--color-app-bg);
  --color-draw-view-txt: var(--color-draw-card-bg);
  --color-draw-view-lines: var(--color-draw-card-bg);

  --color-draw-view-card-front-bg: var(--color-draw-card-bg);
  --color-draw-view-card-front-txt: #ffffff;
  --color-draw-view-card-back-bg: var(--color-draw-card-bg);
  --color-draw-view-card-back-txt: #ffffff;

  --color-draw-view-btn-bg: var(--color-draw-card-bg);
  --color-draw-view-btn-txt: #ffffff;
  --color-draw-view-btn-shadow: var(--color-draw-card-desat-bg);
  --color-draw-view-done-bg: var(--color-draw-card-bg);
  --color-draw-view-done-txt: #ffffff;

  // Show view
  --color-show-view-bg: var(--color-app-bg);
  --color-show-view-txt: var(--color-show-card-bg);
  --color-show-view-lines: var(--color-show-card-bg);

  --color-show-view-card-front-bg: var(--color-show-card-bg);
  --color-show-view-card-front-txt: #ffffff;
  --color-show-view-card-back-bg: var(--color-show-card-bg);
  --color-show-view-card-back-txt: #ffffff;

  --color-show-view-btn-bg: var(--color-show-card-bg);
  --color-show-view-btn-txt: #ffffff;
  --color-show-view-btn-shadow: var(--color-show-card-desat-bg);
  --color-show-view-done-bg: var(--color-show-card-bg);
  --color-show-view-done-txt: #ffffff;

  // Bomb view
  --color-bomb-view-bg: var(--color-app-bg);
  --color-bomb-view-txt: #ffffff;

  --color-bomb-view-btn-bg: #e39d23;
  --color-bomb-view-btn-txt: #ffffff;
  --color-bomb-view-btn-shadow: #e4b76b;

  --color-bomb-view-done-bg: #e00428;
  --color-bomb-view-done-txt: #ffffff;
}

